.navbar-basem {
    background-color: white !important;
    border-bottom: 1px solid black;
}

.navbar-brandm {
    margin-left: 5vh;
}
.nav-itemm {
    margin-left: 4vh;
}

.nav-pillsm .nav-linkm {
    color: black !important;
    /* font-weight: 490 !important; */
}

.nav-pillsm .nav-linkm.active {
    background-color: #AFE4ED !important;
}
