/* Vars globales */
:root {--header-h: 102px; }
/* Para que el html/body ocupen el 100% */
html, body { height: 100%;}

/* -------------------------- Base -------------------------------------- */
.izq {

    position: fixed; /*Fijamos elemento en pantalla, para que no se mueva incluso con scroll*/
    top: var(--header-h); /*Lo posicionamos justo debajo del header fijo*/
    left: 0;
    bottom: 0;
    width:25vw;
    min-width: 250px; /* asegura que nunca sea demasiado angosto */
    max-width: 400px; /* evita que crezca demasiado */
    overflow-y: auto; /* Si el contenido es más alto que el panel, aparece scroll en y */
    overflow-x: hidden;

    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 13px;
    z-index: 1000;
}

.main {
    height: max-content;
    background-color: blueviolet;
    margin-left: 25vw;
}

/* ---------------------------- Panel lateral (izq) ------------------------- */
 /* ---- Sección de titulo ---- */
.titulo {
    /* Lo convertimos en un contenedor en línea */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* se aplica a hijos directos de titulo */
.titulo > * {
    margin: 13px;
    margin-bottom: 1px;
}

.izq h4 {
    font-family: "Roboto", sans-serif;
    color: #49454F;
    font-weight: 500;
}

.titulo i {
    font-size: 1.5rem;
}

.hr-titulo {
    color: #959595;
    margin: 0px 0px 2vh 0px;
}

/* ---- Sección de niveles ---- */
.nivel .overflow-autom {
    max-height: 26vh;
    overflow-y: auto;
    scrollbar-width: none; /*Oculta scroll bar en Firefox*/
}


/* Oculta scroll en Webkit (Chrome, Edge, Safari) */
.nivel .overflow-autom::-webkit-scrollbar {
    display: none;
}

.nivel-item {
    display: flex; /*Para que salga en una sola linea*/
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #49454F;
    font-weight: 500;
    gap: 0.5vw;
    border-radius: 35px;
    /* background-color: aqua; */
}

.nivel-item:hover {
    background-color: #F2F2F2;
}

.nivel-item.active {
    background-color: #BAEAD5;
}

.nivel-item i {
    font-size: 1.5rem;
}

.boton {
    padding: 4vh 3vw;
}

.boton button {
    background-color: #AFE4ED;
    border-color: #AFE4ED;
    font-family: "Roboto", sans-serif;
    color: #49454F;
    font-weight: 500;
}

.boton button:hover, button:active {
    background-color: #a8dbe4 !important;
    border-color: #a8dbe4 !important;
    color: #49454F !important;
}

/* ---- Sección de racha ---- */
.racha h4 {
    margin-left: 0.8vw;
}

/* ---- Sección de calendario ---- */
#calendario {
    display: flex;
    align-items: center; /* Centra en eje y a los hijos dentro de este contenedor.*/
    justify-content: center; /* Centra en eje x */
}

.datepicker table tr td.day {
  padding: 0.5rem; 
}


.datepicker table tr td.active.day,
.datepicker table tr td.today.active.day {
  background: #C5E7ED !important;
  border: 2px solid #C5E7ED !important;
  color: black !important;
}

/* Día actual sin seleccionar */
.datepicker table tr td.today.day {
  background: #FAFAFA !important;
  border: 2px solid #8370B4 !important;
  color: #8370B4 !important;
}

.racha-dias {
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    margin-bottom: 2vh;
}

.racha-dias .bi {
    font-size: 3rem;
    line-height: 1;
}
/* ----------------- Responsive ---------------------- */
@media (max-width: 576px) {
  .izq {
    width: 100%;
    min-width: auto;
    max-width: 100%;
  }

  .overflow-autom {
    max-height: 40vh;
  }
}